body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea, p, blockquote, th, td, header,
nav, section, article, aside, footer, figure, figcaption, menu, button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100px;
  padding: 0;
  font-family: "微软雅黑", PingFangSC-Regular, Tahoma, Verdana, serif;
}



table{
  border-collapse:collapse;
  border-spacing:2px;
}

img {
  vertical-align: middle;
}

.overflow-hidden {
  overflow: hidden;
}

/*@media only screen and (min-width: 320px) {*/
/*html {*/
/*font-size: 50px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 360px) {*/
/*html {*/
/*font-size: 56.25px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 375px) {*/
/*html {*/
/*font-size: 58.593px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 384px) {*/
/*html {*/
/*font-size: 60px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 600px) {*/
/*html {*/
/*font-size: 93.75px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 640px) {*/
/*html {*/
/*font-size: 100px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 720px) {*/
/*html {*/
/*font-size: 112.5px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 768px) {*/
/*html {*/
/*font-size: 120px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 800px) {*/
/*html {*/
/*font-size: 125px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 1080px) {*/
/*html {*/
/*font-size: 168.75px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 1600px) {*/
/*html {*/
/*font-size: 250px;*/
/*}*/
/*}*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.display-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.magin0Auto {
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.display-inline-block {
  display: inline-block;
}

/*background-color*/

.bg-color-light-grey {
  background-color: #fafafa;
}

.bg-color-dark-grey {
  background-color: #aaaaaa;
}

.bg-color-grey {
  background-color: #f4f4f4;
}

.bg-color-white {
  background-color: white;
}

.bg-color-green {
  background-color: #41d61a;
}

.bg-color-orange {
  background-color: #ff9100;
}

/*font-color*/

.font-color-black {
  color: #323232;
}

.font-color-ligth-grey {
  color: #bebebe;
}

.font-color-dark-grey {
  color: #959595;
}

.font-color-white {
  color: white;
}

.font-color-grey {
  color: #707070;
}

.font-color-grey-a {
  color: #7c7c7c;
}

.font-color-red {
  color: #fe0000;
}

.font-bold {
  font-weight: 900;
}

/*font-size*/

.font-12 {
  font-size: .12rem !important;
}

.font-14 {
  font-size: .14rem !important;
}

.font-16 {
  font-size: .16rem !important;
}

.font-18 {
  font-size: .18rem !important;
}

.font-20 {
  font-size: .20rem !important;
}

.font-22 {
  font-size: .22rem !important;
}

.font-24 {
  font-size: .24rem !important;
}

.font-26 {
  font-size: .26rem !important;
}

.font-28 {
  font-size: .28rem !important;
}

.font-30 {
  font-size: .30rem !important;
}

.font-32 {
  font-size: .32rem !important;
}

.font-34 {
  font-size: .34rem !important;
}

.font-36 {
  font-size: .36rem !important;
}

.font-38 {
  font-size: .38rem !important;
}

.font-40 {
  font-size: .40rem !important;
}

.font-50 {
  font-size: .50rem !important;
}

.font-60 {
  font-size: .60rem !important;
}

.top-30 {
  top: .3rem;
}

.left-100 {
  left: 1rem;
}

/*padding*/

.p-5 {
  padding: .05rem;
}

.p-10 {
  padding: .10rem;
}

.p-15 {
  padding: .15rem;
}

.p-20 {
  padding: .20rem;
}

.p-25 {
  padding: .25rem;
}

.p-30 {
  padding: .30rem;
}

/*padding-top*/

.pt-5 {
  padding-top: .05rem;
}

.pt-10 {
  padding-top: .10rem;
}

.pt-15 {
  padding-top: .15rem;
}

.pt-20 {
  padding-top: .20rem;
}

.pt-25 {
  padding-top: .25rem;
}

.pt-30 {
  padding-top: .30rem;
}

.pt-50 {
  padding-top: .50rem;
}

.pt-160 {
  padding-top: 1.60rem;
}

/*padding-bottom*/

.pb-5 {
  padding-bottom: .05rem;
}

.pb-10 {
  padding-bottom: .10rem;
}

.pb-15 {
  padding-bottom: .15rem;
}

.pb-20 {
  padding-bottom: .20rem;
}

.pb-25 {
  padding-bottom: .25rem;
}

.pb-30 {
  padding-bottom: .30rem;
}

.pb-50 {
  padding-bottom: .50rem;
}

/*padding-left*/

.pl-5 {
  padding-left: .05rem;
}

.pl-10 {
  padding-left: .10rem;
}

.pl-15 {
  padding-left: .15rem;
}

.pl-20 {
  padding-left: .20rem;
}

.pl-25 {
  padding-left: .25rem;
}

.pl-30 {
  padding-left: .30rem;
}

.pl-100 {
  padding-left: 1rem;
}

/*padding-right*/

.pr-5 {
  padding-right: .05rem;
}

.pr-10 {
  padding-right: .10rem;
}

.pr-15 {
  padding-right: .15rem;
}

.pr-20 {
  padding-right: .20rem;
}

.pr-25 {
  padding-right: .25rem;
}

.pr-30 {
  padding-right: .30rem;
}

.pr-100 {
  padding-right: 1rem;
}

/*padding-top & padding-bottom*/

.ptb-5 {
  padding-top: .05rem;
  padding-bottom: .05rem;
}

.ptb-10 {
  padding-top: .10rem;
  padding-bottom: .10rem;
}

.ptb-15 {
  padding-top: .15rem;
  padding-bottom: .15rem;
}

.ptb-20 {
  padding-top: .20rem;
  padding-bottom: .20rem;
}

.ptb-25 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.ptb-30 {
  padding-top: .30rem;
  padding-bottom: .30rem;
}

/*padding-left & padding-right*/

.plr-10 {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.plr-150 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*margin-top*/

.mt-015 {
  margin-top: -0.15rem;
}

.mt-040 {
  margin-top: -0.40rem;
}

.mt-5 {
  margin-top: .05rem;
}

.mt-10 {
  margin-top: .10rem;
}

.mt-15 {
  margin-top: .15rem;
}

.mt-20 {
  margin-top: .20rem;
}

.mt-25 {
  margin-top: .25rem;
}

.mt-30 {
  margin-top: .30rem;
}

.mt-35 {
  margin-top: .35rem;
}

.mt-40 {
  margin-top: .40rem;
}

.mt-45 {
  margin-top: .45rem;
}

.mt-50 {
  margin-top: .50rem;
}

/*margin-bottom*/

.mb-5 {
  margin-bottom: .05rem;
}

.mb-10 {
  margin-bottom: .10rem;
}

.mb-15 {
  margin-bottom: .15rem;
}

.mb-20 {
  margin-bottom: .20rem;
}

.mb-25 {
  margin-bottom: .25rem;
}

.mb-30 {
  margin-bottom: .30rem;
}

.mb-35 {
  margin-bottom: .35rem;
}

.mb-40 {
  margin-bottom: .40rem;
}

.mb-45 {
  margin-bottom: .45rem;
}

.mb-50 {
  margin-bottom: .50rem;
}

/*margin-left*/

.ml-025 {
  margin-left: -0.25rem;
}

.ml-5 {
  margin-left: .05rem;
}

.ml-10 {
  margin-left: .10rem;
}

.ml-15 {
  margin-left: .15rem;
}

.ml-20 {
  margin-left: .20rem;
}

.ml-25 {
  margin-left: .25rem;
}

.ml-30 {
  margin-left: .30rem;
}

.ml-35 {
  margin-left: .35rem;
}

.ml-40 {
  margin-left: .40rem;
}

.ml-45 {
  margin-left: .45rem;
}

.ml-50 {
  margin-left: .50rem;
}

.ml-100 {
  margin-left: 1rem;
}

/*margin-right*/

.mr-5 {
  margin-right: .05rem;
}

.mr-10 {
  margin-right: .10rem;
}

.mr-15 {
  margin-right: .15rem;
}

.mr-20 {
  margin-right: .20rem;
}

.mr-25 {
  margin-right: .25rem;
}

.mr-30 {
  margin-right: .30rem;
}

.mr-35 {
  margin-right: .35rem;
}

.mr-40 {
  margin-right: .40rem;
}

.mr-45 {
  margin-right: .45rem;
}

.mr-50 {
  margin-right: .50rem;
}

.width-40 {
  width: .4rem;
}

.width-45 {
  width: .45rem;
}

.width-50 {
  width: .5rem;
}

.width-60 {
  width: .6rem;
}

.width-70 {
  width: .7rem;
}

.width-80 {
  width: .8rem;
}

.width-90 {
  width: .9rem;
}

.width-180 {
  width: 1.8rem;
}

.width-220 {
  width: 2.2rem;
}

.width-280 {
  width: 2.8rem;
}

.width-300 {
  width: 3rem;
}

.width-350 {
  width: 3.5rem;
}

.width-400 {
  width: 4rem;
}

.width-1100 {
  width: 11rem;
}

.height-50p {
  height: 50%;
}

.height-30 {
  height: .30rem;
}

.height-40 {
  height: .40rem;
}

.height-45 {
  height: .45rem;
}

.height-50 {
  height: .50rem;
}

.height-60 {
  height: .60rem;
}

.height-80 {
  height: .80rem;
}

.height-150 {
  height: 1.5rem;
}

.height-180 {
  height: 1.8rem;
}

.height-200 {
  height: 2rem;
}

.height-260 {
  height: 2.6rem;
}

.height-280 {
  height: 2.8rem;
}

.height-300 {
  height: 3.0rem;
}

.height-340 {
  height: 3.4rem;
}

.height-350 {
  height: 3.5rem;
}

.height-400 {
  height: 4.0rem;
}

.line-height-30 {
  line-height: .30rem;
}

.line-height-45 {
  line-height: .45rem;
}

.line-height-180 {
  line-height: 1.80rem;
}

.line-height-260 {
  line-height: 2.6rem;
}

.line-height-300 {
  line-height: 3rem;
}

.line-height-350 {
  line-height: 3.5rem;
}

.border-radius-50p {
  border-radius: 50%;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-grey {
  border: 1px solid #e5e5e5;
}

.border-left-light-grey {
  border-left: 1px solid #eeeeee;
}

.border-right-light-grey {
  border-right: 1px solid #eeeeee;
}

.border-bottom-light-grey {
  border-bottom: 1px solid #eeeeee;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}
